@use '../../theme/colors.scss' as *;
@use '../../theme/sizes.scss' as *;

.headerContainer {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.light {
        background-color: $gray-400;
    }

    &.dark {
        background-color: $gray-800;
        color: $gray-200;
    }

    .optionWrapper {
        width: 100%;

        .optionTitle {
            width: 65px;
            margin: 0;
            padding: 0;
        }
    }

    .rightOptions {
        height: 100%;
        display: flex;
        align-items: center;

        .switchWrapper {
            box-sizing: border-box;
            position: relative;
            display: flex;
            align-items: center;
            width: 70px;
            height: 28px;

            input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $yellow-700;
                -webkit-transition: 0.4s;
                transition: 0.4s;

                &:before {
                    position: absolute;
                    content: '';
                    height: 20px;
                    width: 20px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }
            }

            input:checked + .slider {
                background-color: $dark-700;
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(22px);
                -ms-transform: translateX(22px);
                transform: translateX(22px);
            }

            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
            }

            img {
                width: 14px;
                height: 14px;
                position: absolute;
                cursor: pointer;

                &.lightMode {
                    left: 6px;
                }

                &.darkMode {
                    right: 8px;
                }
            }
        }
    }
}
